# will use stagging issuer for test configuration
# change to letsencrypt-prod if sure all working correctly
# lets encrypt can ban production config if you using it for experiments
SERTIFICATE_ISSUER='letsencrypt-staging'

# HOSTS
K8S_DASHBOARD_HOST='dashboard.k8s.local'
ALERT_MANAGER_HOST='alertmanager.k8s.local'
GRAFANA_HOST='grafana.k8s.local'
ARGO_HOST='argo.k8s.local'

# ARGO CD SECRETS
ARGO_GITHUB_SECRET=''
ARGO_BITBUCKET_SECRET=''
ARGO_GITLAB_SECRET=''

# GRAFANA
GRAFANA_PASSSWORD='prom-operator'


# WASABI CREDS
WASABI_ACCESS_KEY_ID='' # Kubernetes user
WASABI_SECRET_ACCESS_KEY=''
WASABI_REGION=eu-central-1
WASABI_DEFAULT_REGION=eu-central-1
WASABI_S3_ENPOINT=https://s3.eu-central-1.wasabisys.com

# AMOCRM CREDS
AMOCRM_INTEGRATION_ID=''
AMOCRM_SECRET_KEY=''
AMOCRM_AUTH_REDIRECT_URI=https://api.omnigram.ru/auth/amocrm/handle-redirect

AMOCRM_CHANNEL_SECRET_KEY=''
AMOCRM_CHANNEL_ID=''
